[submodule "Assignments/HW1_PlantCellSegmentation/HW1_PlantCellSegmentation"]
	path = Assignments/HW1_PlantCellSegmentation/HW1_PlantCellSegmentation
	url = https://github.com/Ursinus-CS371-S2021/HW1_PlantCellSegmentation.git
[submodule "Assignments/HW2_Autocomplete/HW2_Autocomplete"]
	path = Assignments/HW2_Autocomplete/HW2_Autocomplete
	url = https://github.com/Ursinus-CS371-S2021/HW2_Autocomplete.git
[submodule "Assignments/HW3_DTW_AudioAlignment/HW3_DTW_AudioAlignment"]
	path = Assignments/HW3_DTW_AudioAlignment/HW3_DTW_AudioAlignment
	url = https://github.com/Ursinus-CS371-S2021/HW3_DTW_AudioAlignment.git
[submodule "Assignments/HW4_FairElections/HW4_FairElections"]
	path = Assignments/HW4_FairElections/HW4_FairElections
	url = https://github.com/Ursinus-CS371-S2021/HW4_FairElections.git
[submodule "Assignments/HW5_PhylogeneticTrees/HW5_PhylogeneticTrees"]
	path = Assignments/HW5_PhylogeneticTrees/HW5_PhylogeneticTrees
	url = https://github.com/Ursinus-CS371-S2021/HW5_PhylogeneticTrees.git
[submodule "ClassExercises/AlgorithmsDemos"]
	path = ClassExercises/AlgorithmsDemos
	url = https://github.com/ctralie/AlgorithmsDemos.git
[submodule "ClassExercises/Week1/rushhour"]
	path = ClassExercises/Week1/rushhour
	url = https://github.com/Ursinus-CS371-S2021/rushhour.git
[submodule "ClassExercises/Week1/Week1_Friday"]
	path = ClassExercises/Week1/Week1_Friday
	url = https://github.com/Ursinus-CS371-S2021/Week1_Friday.git
