[submodule "Assignments/HW1_PlantCellSegmentation/HW1_PlantCellSegmentation"]
	path = Assignments/HW1_PlantCellSegmentation/HW1_PlantCellSegmentation
	url = https://github.com/Ursinus-CS371-S2021/HW1_PlantCellSegmentation.git
[submodule "Assignments/HW2_Autocomplete/HW2_Autocomplete"]
	path = Assignments/HW2_Autocomplete/HW2_Autocomplete
	url = https://github.com/Ursinus-CS371-S2021/HW2_Autocomplete.git
[submodule "Assignments/HW3_DTW_AudioAlignment/HW3_DTW_AudioAlignment"]
	path = Assignments/HW3_DTW_AudioAlignment/HW3_DTW_AudioAlignment
	url = https://github.com/Ursinus-CS371-S2021/HW3_DTW_AudioAlignment.git
[submodule "Assignments/HW4_FairElections/HW4_FairElections"]
	path = Assignments/HW4_FairElections/HW4_FairElections
	url = https://github.com/Ursinus-CS371-S2021/HW4_FairElections.git
[submodule "Assignments/HW5_PhylogeneticTrees/HW5_PhylogeneticTrees"]
	path = Assignments/HW5_PhylogeneticTrees/HW5_PhylogeneticTrees
	url = https://github.com/Ursinus-CS371-S2021/HW5_PhylogeneticTrees.git
[submodule "ClassExercises/AlgorithmsDemos"]
	path = ClassExercises/AlgorithmsDemos
	url = https://github.com/ctralie/AlgorithmsDemos.git
[submodule "ClassExercises/Week1/rushhour"]
	path = ClassExercises/Week1/rushhour
	url = https://github.com/Ursinus-CS371-S2021/rushhour.git
[submodule "ClassExercises/Week1/Week1_Friday"]
	path = ClassExercises/Week1/Week1_Friday
	url = https://github.com/Ursinus-CS371-S2021/Week1_Friday.git
[submodule "ClassExercises/Week4/Week4_HashingExperiments/Week4_HashingExperiments"]
	path = ClassExercises/Week4/Week4_HashingExperiments/Week4_HashingExperiments
	url = https://github.com/Ursinus-CS371-S2021/Week4_HashingExperiments.git
[submodule "ClassExercises/Week4/Week4_MovieReviews/Week4_MovieReviews"]
	path = ClassExercises/Week4/Week4_MovieReviews/Week4_MovieReviews
	url = https://github.com/Ursinus-CS371-S2021/Week4_MovieReviews.git
[submodule "ClassExercises/Week5/Week5_TowersOfHanoi/Week5_TowersOfHanoi"]
	path = ClassExercises/Week5/Week5_TowersOfHanoi/Week5_TowersOfHanoi
	url = https://github.com/Ursinus-CS371-S2021/Week5_TowersOfHanoi.git
[submodule "ClassExercises/Week6/Week6_EditBacktracing/Week6_EditBacktracing"]
	path = ClassExercises/Week6/Week6_EditBacktracing/Week6_EditBacktracing
	url = https://github.com/Ursinus-CS371-S2021/Week6_EditBacktracing.git
[submodule "ClassExercises/Week9/Week9_RadixSort/Week9_RadixSort"]
	path = ClassExercises/Week9/Week9_RadixSort/Week9_RadixSort
	url = https://github.com/Ursinus-CS371-S2021/Week9_RadixSort.git
[submodule "ClassExercises/Week9/Week9_RecursiveSorts/Week9_RecursiveSorts"]
	path = ClassExercises/Week9/Week9_RecursiveSorts/Week9_RecursiveSorts
	url = https://github.com/Ursinus-CS371-S2021/Week9_RecursiveSorts.git
[submodule "ClassExercises/Week10/Week10_TreeDrawing/Week10_TreeDrawing"]
	path = ClassExercises/Week10/Week10_TreeDrawing/Week10_TreeDrawing
	url = https://github.com/Ursinus-CS371-S2021/Week10_TreeDrawing.git
[submodule "ClassExercises/Week11/Week11_BSTComplexity/Week11_BSTComplexity"]
	path = ClassExercises/Week11/Week11_BSTComplexity/Week11_BSTComplexity
	url = https://github.com/Ursinus-CS371-S2021/Week11_BSTComplexity.git
[submodule "ClassExercises/Week12/Week12_Huffman/Week12_Huffman"]
	path = ClassExercises/Week12/Week12_Huffman/Week12_Huffman
	url = https://github.com/Ursinus-CS371-S2021/Week12_Huffman.git
[submodule "ClassExercises/Week13/Week13_Kruskal/Week13_Kruskal"]
	path = ClassExercises/Week13/Week13_Kruskal/Week13_Kruskal
	url = https://github.com/Ursinus-CS371-S2021/Week13_Kruskal.git
[submodule "ClassExercises/Week14/Week14_BFSDFS/Week14_BFSDFS"]
	path = ClassExercises/Week14/Week14_BFSDFS/Week14_BFSDFS
	url = https://github.com/Ursinus-CS371-S2021/Week14_BFSDFS.git
[submodule "ClassExercises/Week15/Week15_BFFW/Week15_BFFW"]
	path = ClassExercises/Week15/Week15_BFFW/Week15_BFFW
	url = https://github.com/Ursinus-CS371-S2021/Week15_BFFW.git
